{% extends 'base.html' %}
{% load static %}
{% block static %}

    <link rel="stylesheet" href="{% static 'css/poem_share.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
    </style>
{% endblock %}
{% block content %}
   
    <div class="wrap">
        <main>
            <div class="introduce-message">
                <p class="introduce-message1">오늘의 학습이 종료되었습니다<br>
                    다른 학습자들은 오늘의 시를 어떻게 감상했을 지 확인해볼까요?</p>
            </div>
            <div class="poem-area">
                <div class="poem-box">
                    <div class="gpt-poem">{{ poem_post.poem }}</div>
                </div>
                <div class="line"></div>
                        <!-- 댓글 샘플 -->
                <div class="comment">
                    <div class="comment-area">
                        <div class="title">
                            <div class="profile">
                                <img src="{% static 'img/assets/img/Ellipse 14.svg' %}">     <!-- 프로필 이미지 -->
                                <div class="username">{{ request.user.username }}</div>
                                <div class="label">나</div>
                            </div>
                            <div class="edit-box">
                                <img class="edit" src="{% static 'img/ellipsis-vertical-sharp.svg' %}">
                                 <!-- edit 버튼 클릭했을 시  -->
                                <ul class="edit-list">
                                    <li class="review-delete">삭제하기</li>
                                </ul>
                            </div>
                        </div>
                             <!-- 감상평 -->
                        <div class="poem-review">{{poem_post.post}}
                        </div>
                        <div class="date">05/25 09:58</div>
                            <!-- 댓글 -->
                        <div class="reply">답글달기</div>
                        <div class="reply-input-box">
                            <img class="n" src="./assets/img/ㄴ.svg">
                            <textarea type="text" class="reply-input" placeholder="답글을 입력하세요"></textarea> 
                            <button class="reply-button">저장</button>
                        </div>

                        <!-- 댓글 리스트 -->

                        <div class="reply-list">
                            <div class="comment-area1">
                                <div class="title">
                                    <div class="profile">
                                        <img class="n" src="./assets/img/ㄴ.svg">
                                        <img src="./assets/img/Ellipse 14.svg">     <!-- 프로필 이미지 -->
                                        <div class="username">나는 시가 조아</div>
                                        <div class="label">나</div>
                                    </div>
                                    <div class="edit-box">
                                        <img class="edit" src="./assets/img/ellipsis-vertical-sharp.svg">
                                         <!-- edit 버튼 클릭했을 시  -->
                                        <ul class="edit-list">
                                            <li class="review-delete">삭제하기</li>
                                        </ul>
                                    </div>
                                </div>
                                     <!-- 감상평 -->
                                <div class="poem-review">이 시는 철두철미하게 사는 삶의 가치와 중요성을 아름답게 묘사합니다.
                                    작은 일에도 정성을 다하고 꾸준히 노력하는 자세가 결국 큰 결실을 맺게 한다는 메시지가 인상 깊습니다.
                                    희망과 성실함의 조화를 느낄 수 있었습니다.
                                </div>
                                <div class="date">05/25 09:58</div>
                                <div class="reply-list"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="{%static 'js/poem_share.js' %}"></script>
    {%endblock%}


