{% extends 'base.html' %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'css/poem_share.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
    </style>
{% endblock %}
{% block content %}
    <div class="wrap">
        <main>
            <div class="introduce-message">
                <p class="introduce-message1">오늘의 학습이 종료되었습니다<br>
                    다른 학습자들은 오늘의 시를 어떻게 감상했을 지 확인해볼까요?</p>
            </div>
            <!-- 시 띄워주는 곳 -->
            <div class="poem-area">
                    <div class="poem-box">
                        <div class="gpt-poem">{{ poem_post.poem.poem }}</div>
                    </div>
                    <div class="line"></div>
                        <!-- 감상평 띄워주는 곳-->
                    <div class="comment">
                        <!-- 로그인한 사용자의 감상평 시작(상단 고정해야됨) -->
                        <div class="comment-area_auth">

                            <div class="title">
                                
                                <div class="profile">
                                    <div class="profileImg">
                                        {% if user_post.user.userImage %}
                                            <img src="{{ user_post.user.userImage.url }}" alt="Image">
                                        {% else %}
                                            <img src="{% static 'img/alarmImg.svg' %}" alt="Default Image">
                                        {% endif %}
                                    </div>    <!-- 프로필 이미지 -->
                                    <div class="username">{{ user_post.user.username }}</div>
                                    <div class="label">나</div>
                                </div>

                                <div class="edit-box">
                                    <img class="edit" src="{% static 'img/ellipsis-vertical-sharp.svg' %}">
                                    <!-- edit 버튼 클릭했을 시  -->
                                    <ul class="edit-list">                                    
                                        <li class="review-delete">삭제하기</li>
                                    </ul>
                                </div>
                            
                            </div>
                            <!-- 감상평 -->
                            <div class="poem-review">{{ user_post.post }}</div>
                            <div class="date">{{ user_post.write_time }}</div>
                            <!-- 댓글 달기 클릭하면 이게 뜨는거-->
                            <div class="reply">답글달기</div>                        
                            <form method="POST" action="{% url 'poem:poem_detail' poem_post_id=poem_post.id %}" class="reply-input-box">
                                {% csrf_token %}
                                <img class="n" src="{% static 'img/ㄴ.svg' %}">
                                <textarea type="text" name="comment_content" class="reply-input" placeholder="답글을 입력하세요"></textarea> 
                                <input type="hidden" name="post_id" value="{{ user_post.id }}">
                                <button class="reply-button" type="submit">저장</button>
                            </form>
                            {% if user_post_comments %}
                            <!-- 댓글 리스트(만약 감상평에 댓글이 있다면 보임) -->
                                <div class="reply-list">
                                    {% for comment in user_post_comments %}
                                        <div class="comment-area1">
                                            <div class="title">
                                                <div class="profile">
                                                    <img class="n" src="{% static 'img/ㄴ.svg' %}">                                                    
                                                    {% if comment.user.userImage %}
                                                        <img src="{{ comment.user.userImage.url }}" alt="Image"> <!-- 프로필 이미지 -->
                                                    {% else %}
                                                        <img src="{% static 'img/alarmImg.svg' %}" alt="Default Image">
                                                    {% endif %}
                                                    <div class="username">{{ comment.user.username }}</div>
                                                </div>
                                                <div class="edit-box">
                                                    <img class="edit" src="{% static 'img/ellipsis-vertical-sharp.svg' %}">
                                                    <!-- edit 버튼 클릭했을 시  -->
                                                    <ul class="edit-list">
                                                        <li class="review-delete">삭제하기</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="poem-review">{{ comment.comment }}</div>
                                            <div class="date">{{ comment.write_time }}</div>                                    
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <!-- 댓글 리스트 끝(만약 감상평에 댓글이 있다면 보임) -->
                        </div>
                        <!-- 로그인한 사용자의 감상평 끝 -->
                                
                        <!-- 다른 사용자들의 감상평 리스트(상단 고정한거 아래에서 스크롤 되도록 해야함) -->
                        {% for post in all_posts %}
                            <div class="comment-area">
                                <div class="title">                                
                                    <div class="profile">
                                        <div class="profileImg">
                                            {% if post.user.userImage %}
                                                <img src="{{ post.user.userImage.url }}" alt="Image">                                        
                                            {% else %}
                                                <img src="{% static 'img/alarmImg.svg' %}" alt="Default Image">
                                            {% endif %}
                                        </div>    <!-- 프로필 이미지 -->
                                        <div class="username">{{ post.user.username }}</div>
                                    </div>
                                    <div class="edit-box">
                                        <img class="edit" src="{% static 'img/ellipsis-vertical-sharp.svg' %}">
                                        <!-- edit 버튼 클릭했을 시  -->
                                        <ul class="edit-list">
                                            <li class="review-delete">삭제하기</li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- 감상평 -->
                                <div class="poem-review">{{ post.post }}</div>
                                <div class="date">{{ post.write_time }}</div>
                                    <!-- 댓글 -->
                                <div class="reply">답글달기</div>
                                <form method="POST" action="{% url 'poem:poem_detail' poem_post_id=poem_post.id %}" class="reply-input-box">
                                    {% csrf_token %}
                                    <img class="n" src="{% static 'img/ㄴ.svg' %}">
                                    <textarea type="text" name="comment_content" class="reply-input" placeholder="답글을 입력하세요"></textarea> 
                                    <input type="hidden" name="post_id" value="{{ post.id }}">
                                    <button class="reply-button" type="submit">저장</button>
                                </form>
                                <!-- 댓글 리스트 얘도 마찬가지로 다른 사용자들이 남긴 감상에 댓글이 있다면 보임 -->
                                {% if post_comments|length %}
                                    <div class="reply-list">
                                        {% for comment in post_comments.post.id %}
                                            <div class="comment-area1">
                                                <div class="title">
                                                    <div class="profile">
                                                        <img class="n" src="{% static 'img/ㄴ.svg' %}">
                                                        {% if comment.user.userImage %}
                                                            <img src="{{ comment.user.userImage.url }}" alt="Image"> <!-- 프로필 이미지 -->                                                    
                                                        {% else %}                                                            
                                                            <img src="{% static 'img/alarmImg.svg' %}" alt="Default Image">
                                                        {% endif %}
                                                        <div class="username">{{ comment.user.username }}</div>        
                                                    </div>
                                                    <div class="edit-box">
                                                        <img class="edit" src="{% static 'img/ellipsis-vertical-sharp.svg' %}">
                                                        <!-- edit 버튼 클릭했을 시  -->
                                                        <ul class="edit-list">
                                                            <li class="review-delete">삭제하기</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="poem-review">{{ comment.comment }}</div>
                                                <div class="date">{{ comment.write_time }}</div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <!-- 일반 사용자의 감상의 댓글 리스트 끝 -->
                                {% endif %}
                            </div>
                        {% endfor %}
                        <!-- 일반 사용자의 감상들 끝 -->
                    </div>
            </div>
                
            
            </main>
        <script src="{%static 'js/poem_share.js' %}"></script>
    </div>    
{% endblock %}
