{% extends 'base.html' %}
{% load static %}
{% block static %}
    <link rel='stylesheet' type='text/css' media='screen' href='{% static 'css/profileSetting.css' %}'>
{% endblock %}

{% block content %}
    <div class="main">
        <div class="text">
            <p>프로필 수정</p>
            <p>프로필 사진과 아이디는 모두에게 공개됩니다. </p>
        </div>
        <div class="box">
            <p>사진</p>
            <div class="profileImgBox">
                <div class="profileImg">
                    {% if my_model_instance.image %}
                        <img src="{{ my_model_instance.image.url }}" alt="Image">
                    {% else %}
                        <img src="{% static 'img/alarmImg.svg' %}" alt="Default Image">
                    {% endif %}
                </div>
                <div class="buttonBox">
                    <input type="file" class="fileInput" >
                    <button class="uploadImgBtn">변경</button>
                </div>
            </div>
            <p>아이디</p>
            <input type="text"  value="{{ request.user.username }}" class="input idInput">
            <p>연동 이메일</p>
            <input type="email" value="{{ request.user.email }}" class="input emailInput">
            <p>비밀번호</p>
            <div class="passwordDiv">
                <input type="password" class="input passwordInput">
                <button class="togglePasswordBtn"><img src="{% static 'img/eyeclose.svg' %}" alt="showPassword"></button>
            </div>
        </div>
    </div>
    <div class="saveTab">
        <button type="submit" class="saveBtn">변경사항 저장</button>
    </div>
    
{% endblock %}