{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>오늘의 시</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/profileSetting.css' %}">
    {% block static %}
    {% endblock %}
</head>
<body>
    <nav>
        <div class="container">
            <img class="logo" src="{% static 'img/logo.svg' %}" alt="logo">
            <div class="nav-menu">
                <ul class="nav-btn">
                    <li><a class="home" href="">홈</a></li>
                    <li><a class="learn" href="">학습</a></li>                            
                    <li><a class="wordlist" href="">단어장</a></li>
                    <li><button class="alarmBtn button"><img src="{% static 'img/alarm.svg' %}" alt="alarm"></button></li>
                    <li><button class="profileBtn button"><img src="{% static 'img/myPage.svg' %}" alt="mypage"></button></li>
               </ul>
            </div>
        </div>
    </nav>
    <div class="alarm-modal">
        <div class="alarm-content">
          <p>알림</p>
          <hr>
          <div class="alarmlist">
            <div class="alarm-img">
                <img src="{% static 'img/alarmImg.svg' %}" alt="alarmImg">
            </div>
            <div class="alarm-text">
                <p>오늘의 단어 학습이 도착했어요!</p>
                <p>방금</p>
            </div>
        </div>
        <div class="alarmlist">
            <div class="alarm-img">
                <img src="{% static 'img/alarmImg.svg' %}" alt="alarmImg">
            </div>
            <div class="alarm-text">
                <p>단어짱님이 내 감상에 댓글을 남겼어요.</p>
                <p>1일전</p>
            </div>
          </div>
          <div class="alarmlist">
            <div class="alarm-img">
                <img src="{% static 'img/alarmImg.svg' %}" alt="alarmImg">
            </div>
            <div class="alarm-text">
                <p>오늘의 시 감상을 작성해 학습을 마무리해보세요!</p>
                <p>1일전</p>
            </div>
          </div>
          <div class="alarmlist">
            <div class="alarm-img">
                <img src="{% static 'img/alarmImg.svg' %}" alt="alarmImg">
            </div>
            <div class="alarm-text">
                <p>오늘의 시 감상을 작성해 학습을 마무리해보세요!</p>
                <p>1일전</p>
            </div>
          </div>
        </div>
    </div>
    <div class="profile-modal">
        <div class="profile-content">
            <div class="profile-header">
                <div class="profile-image">
                    <img src="{% static 'img/alarmImg.svg' %}" alt="Profile Image">
                </div>
            </div>
            <div class="profile-details">
                <p class="profile-name">{{ request.user.username }}</p>
                <p class="profile-email">{{ request.user.email }}</p>
            </div>
            <hr>
            <div class="profile-actions">
                <button class="action-button">
                    <img src="{% static 'img/logout.svg' %}"> 로그아웃
                </button>
                <button class="action-button">
                    <img src="{% static 'img/setting.svg' %}"> 계정설정
                </button>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/profileSetting.js' %}"></script>
</body>
</html>